h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;

  &:first-child {
    margin-top: 0;
  }
}

h1, .h1 {
  font-size: 55px;
}

h2, .h2 {
  font-size: 45px;
}

h3, .h3 {
  font-size: 35px;
}

h4, .h4 {
  font-size: 25px;
}

@media (max-width: $screen-sm-max) {
  h1, .h1 {
    font-size: 45px;
  }

  h2, .h2 {
    font-size: 35px;
  }

  h3, .h3 {
    font-size: 25px;
  }
}

@media (max-width: $screen-xs-max) {
  h1, .h1 {
    font-size: 30px;
  }

  h2, .h2 {
    font-size: 20px;
  }

  h3, .h3 {
    font-size: 20px;
  }
}
