// Colors
$black: #000;
$black-light: #1b1c17;
$blue: #264a8a;
$blue-dark: #0c2048;
$green-dark: #4ea712;
$green: #23e509;
$green-light: #53af16;
$grey: #999;
$grey-background: #f8f8f8;
$grey-charcoal: #3f3f3f;
$grey-dark: #9e9e9e;
$grey-darker: #808080;
$grey-darker2: #333;
$grey-light: #b8b8b8;
$grey-lighter: #cfcfcf;
$grey-mild: #c8c8c8;
$grey-mild2: #929292;
$grey-night-rider: #303030;
$grey-smoke: #94919a;
$orange: #f68121;
$purple: #8585ff;
$purple-dark: #332949;
$purple-han: #7b39f4;
$purple-light: #888391;
$red-dark: #ff0000;
$red-light: #fd3737;
$white: #fff;
$white-smoke: #ededed;

// Fixed Widths & Heights
$footer-height: 42px;
$box-form-width: 375px;
$sidebar-width: 250px;
$two-columns-header-height: 80px;
$graph-height: 550px;

// Others
$box-shadow: 0 2px 2px 0 rgba(#000, .14), 0 3px 1px -2px rgba(#000, .2), 0 1px 5px 0 rgba(#000, .12);
