// Colors
$aqua: #629fab;
$black: #000;
$black-light: #1b1c17;
$blue: #264a8a;
$blue-dark: #0c2048;
$grey: #999;
$grey-background: #f8f8f8;
$grey-smoke: #94919a;
$green: #01ff7d;
$red: #ff0000;
$sky-blue: #417eea;
$white: #fff;
$white-smoke: #ededed;

// Fixed Widths & Heights
$box-form-width: 375px;
$sidebar-width: 250px;
$two-columns-header-height: 80px;

// Others
$box-shadow: 0 2px 2px 0 rgba(#000, .14), 0 3px 1px -2px rgba(#000, .2), 0 1px 5px 0 rgba(#000, .12);
